.doughnut-container {
    display: flex;
    min-height: 40vh;
    // border: 1px solid black;


    .doughnut-wrapper {
        display: flex;
        margin: 50px;
        // border: 1px solid orange;

    }
}
