.footer-control{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 28px;

    .footer-filter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;


    }
}
